<div class="container">
	<div class="card">
		
		<div class="card-header text-center">
			<h3> REGISTRO DE USUARIOS </h3>
		</div>
		
		<div class="card-body">
			<form>

				<div class="form-group">
					<label for="usuario">USUARIO: </label>
					<input type="text" name="usuario" class="form-control" [(ngModel)]="user.usuario">
				</div>

				<div class="form-group">
					<label for="password">CONTRASEÑA: </label>
					<input type="text" name="password" class="form-control" [(ngModel)]="user.password">
				</div>

				<br>
				<button class="btn btn-outline-dark" (click)="guardar()">GUARDAR</button>
				<button class="btn btn-outline-dark" (click)="cancelar()">CANCELAR</button>
			</form>
		</div>
	
	</div>
</div>