<div class="main">
	<div class="content" style="margin-bottom: 20px;">
		<div class="text-center title">
			<h1> PROYECTO DE ENCRIPTACION </h1>
			<p> ENCRIPTADO Y DESENCRIPTADO DE CONTRASEÑAS </p>
		</div>
		<div class="container">
			<div class="d-grid gap-2 col-6 mx-auto">
				<button (click)="registrar()" class="btn btn-dark" type="button"> REGISTRAR </button>
				<button (click)="listarCifrado()" class="btn btn-dark" type="button"> LISTAR CIFRADO </button>
				<button (click)="listar()" class="btn btn-dark" type="button"> LISTAR DESCIFRADO </button>
				<button (click)="buscarId()" class="btn btn-dark" type="button"> BUSCAR POR ID </button>
				<button (click)="buscarUsuario()" class="btn btn-dark" type="button"> BUSCAR POR USUARIO </button>
			</div>
		</div>
	</div>
</div>

<router-outlet/>